<div class="container">
    <div class="hullupay-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">HulluPay Internet Banking</h1>
        <p class="lead">See all Activities Here</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Transfer</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Fund Transfer</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">See Fund Transfer</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Cash In/Out</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB15 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Cash In/Out</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">See Cash In/Out</button>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Payments</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">ETB29 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                
                <li>Payments</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">See Payments</button>
            </div>
          </div><br>
          
          <div class="container">
            <div class="card-deck mb-3 text-center">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">TopUp</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">ETB0 <small class="text-muted">/ mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                   
                    <li>TopUp</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">See TopUp</button>
                </div>
              </div>
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Merchant Payment</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">ETB15 <small class="text-muted">/ mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    
                    <li>Merchant Payment</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">See Merchant Payment</button>
                </div>
              </div>
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Enquiry</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">ETB29 <small class="text-muted">/ mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
            
                    <li>Enquiry</li>
                  </ul>
                  <button type="button" class="btn btn-lg btn-block btn-primary">See Enquiry</button>
                </div>
              </div>
            </div>
        </div>
</div>
